<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Backcountry Wisdom</h1>
  <br />

  <p>
    Backcountry Wisdom was built as a database-powered quotes generator application with a slick, mobile first design. Built with Ruby on Rails, HTML, CSS3 and GitHub and Heroku. 
  </p>
  <p>
    Quotes from Avalanche professionals across the world. Stay safe, stay humble.
  </p>
  </div>

<div class="col-xs-12 col-sm-4">
  <%= image_tag 'chilkats.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1 name">
  <h2 class="text-center">Zach Berman</h2>
  <br />
  <p>Backcountry Wisdom was built by <a target="blank" href= "https://www.facebook.com/zach.berman.39">Zach Berman.</a> Avalanche educator, heli-skiing guide, web developer, snack aficionado.</p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />