<h2>
  Rules <u>to live by</u> in the backcountry.
</h2>

<br />
<br />

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />
<br />
